* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background: #fff;
  color: #333;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}
//Container

.container {
  max-width: $max-width;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

// Text styles
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.txt-primary {
  color: $primary-color;
}

//Background
.bg {
  &-primary {
    @include set-bg($primary-color);
  }

  &-light {
    @include set-bg($light-color);
    border: #ccc 1px solid;
  }

  &-dark {
    @include set-bg($dark-color);
  }

  &-success {
    @include set-bg($success-color);
  }

  &-danger {
    @include set-bg($danger-color);
  }

  &-white {
    @include set-bg(#fff);
    border: #ccc 1px solid;
  }
}

// Buttons
.btn {
  display: inline-block;
  background: $light-color;
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;

  &.btn-primary {
    @include set-bg($primary-color);

    &:hover {
      background: lighten($primary-color, 5%);
      transition: all 0.2s ease-in;
    }
  }

  &.btn-dark {
    @include set-bg($dark-color);

    &:hover {
      background: lighten($dark-color, 5%);
      transition: all 0.2s ease-in;
    }
  }

  &.btn-success {
    @include set-bg($success-color);

    &:hover {
      background: lighten($success-color, 5%);
      transition: all 0.2s ease-in;
    }
  }

  &.btn-danger {
    @include set-bg($danger-color);

    &:hover {
      background: lighten($danger-color, 5%);
      transition: all 0.2s ease-in;
    }
  }

  &:hover {
    background: lighten($dark-color, 20%);
    color: #ccc;
    transition: all 0.2s ease-in;
  }
}

//Alerts
.alert {
  padding: 0.7rem;
  margin: 1rem;
  opacity: 0.9;
  background: $light-color;
  color: #333;

  &.alert-primary {
    @include set-bg($primary-color);
  }

  &.alert-dark {
    @include set-bg($dark-color);
  }

  &.alert-success {
    @include set-bg($success-color);
  }

  &.alert-danger {
    @include set-bg($danger-color);
  }
}

//Badges

.badge {
  font-size: 0.8rem;
  padding: 0.3rem;
  text-align: center;
  margin: 0.3rem;
  background: $light-color;
  color: #333;

  &-primary {
    @include set-bg($primary-color);
  }

  &-dark {
    @include set-bg($dark-color);
  }

  &-success {
    @include set-bg($success-color);
  }

  &-danger {
    @include set-bg($danger-color);
  }
}
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.table {
  th {
    background: $light-color;
  }

  th,
  td {
    padding: 1rem;
    text-align: left;
  }
}
